body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  background-color: gainsboro;
  width: 70%;
  max-width: 500px;
  margin: 50px auto;
  padding-bottom: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.todo-list {
  background-color: #e5f1e5;
  width: 70%;
  margin: 20px auto;
  list-style: none outside;
  padding: 30px 10px;
  font-size: 20px;
  border-radius: 8px;
}

.sub-item {
  list-style-type: square;
  padding-top: 5px;
}
