body {
  width: 100%;

  margin: 0;
  color: #5e7fa0;
  font-family: Tahoma;
  font-size: 16px;
  text-align: center;
  background: linear-gradient(to right, rgb(228, 143, 143), rgb(185, 185, 137));
}

h2 {
  margin: 0px auto 30px;
}

.form-container {
  width: 40vw;
  max-width: 300px;
  min-width: 300px;
  margin: 50px auto;
  padding: 2em;
  background-color: #f5f6f7;
  border-radius: 5%;
}

label {
  margin: 10px auto;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: rgb(94, 104, 98);
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  width: 40%;
}

button:hover {
  background-color: rgb(16, 61, 39);
}
