body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.business-card {
  width: 300px;
  background-color: #fff0f5;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(110, 100, 100);
}

.profile-image {
  width: 150px;
  max-width: 100%;
}

.full-name {
  font-size: 24px;
}

.company {
  font-size: 14px;
}

.social-media a {
  margin-left: 10px;
  margin-right: 10px;
}
