.blog-post-card {
  background: rgb(214, 205, 205);
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.post-img {
  width: 100%;
  border-bottom: 4px solid black;
}

.post-content {
  padding: 8px;
}

.post-title,
.post-excerpt {
  color: rgb(23, 1, 1);
  margin: 10px 1px;
}

.read-more {
  color: white;
  background-color: rgb(73, 67, 67);
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
}

.read-more:hover {
  background-color: rgb(6, 6, 6);
}
